<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />

    <application
        android:name=".main.Mandarin"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Mandarin.Light"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning">
        <receiver
            android:name=".core.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service
            android:name=".core.CoreService"
            android:label="@string/core_service"
            android:foregroundServiceType="remoteMessaging" />

        <activity
            android:name=".main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowActionBarOverlay="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.RosterActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/select_buddy"
            android:windowActionBarOverlay="true" />
        <activity
            android:name=".main.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/search_buddy"
            android:windowActionBarOverlay="true" />
        <activity
            android:name=".main.SearchResultActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/search_result"
            android:windowActionBarOverlay="true" />
        <activity
            android:name=".main.AccountInfoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowActionBarOverlay="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".main.BuddyInfoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowActionBarOverlay="true" />
        <activity
            android:name=".main.icq.IcqEditUserInfoActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowActionBarOverlay="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".main.icq.IntroActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowActionBarOverlay="true" />
        <activity
            android:name=".main.icq.PlainLoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/plain_login"
            android:theme="@style/Theme.Mandarin.Intro"
            android:windowActionBarOverlay="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".main.icq.PhoneLoginActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.Mandarin.Intro"
            android:windowActionBarOverlay="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".main.icq.SmsCodeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/Theme.Mandarin.Intro"
            android:windowActionBarOverlay="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />
        <activity
            android:name=".main.icq.CountryCodeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/select_country"
            android:windowActionBarOverlay="true" />
        <activity
            android:name=".main.ChatActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowActionBarOverlay="true"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".main.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings"
            android:windowActionBarOverlay="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".main.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/info"
            android:screenOrientation="portrait"
            android:windowActionBarOverlay="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".main.PhotoViewerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/gallery"
            android:windowActionBarOverlay="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".main.VideoViewerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/gallery"
            android:windowActionBarOverlay="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".main.SharingActivity"
            android:configChanges="orientation|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/select_buddy"
            android:launchMode="singleInstance"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/*" />
            </intent-filter>
        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity" android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name=".core.GlobalProvider"
            android:authorities="com.tomclaw.mandarin.core.GlobalProvider"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name=".core.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>
