<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tomclaw.filepicker">

    <application>

        <activity
            android:name="com.tomclaw.filepicker.DocumentPickerActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/select_file"
            android:windowActionBarOverlay="true"
            android:windowSoftInputMode="adjustResize" />
        
    </application>

</manifest>
